<a href="https://colab.research.google.com/github/gcolares95/Ocean_Jonada_Python/blob/main/parte_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Declaração 
def teste(celsius, fahrenheit):
  F = (9 * celsius / 5) + 32
  print(f'{celsius} C = {F} F')

  C = 5 * (fahrenheit - 32) /9
  print(f'{fahrenheit} F = {C} C')

# execução 
teste(100,212)

100 C = 212.0 F
212 F = 100.0 C

In [ ]:
# Celsius para fahrenheit

# Declaração 
def converter_celsius_para_fahrenheit(celsius):
  F = (9 * celsius /5) + 32
  print(f'{celsius} C = {F} F')

# Execução
converter_celsius_para_fahrenheit(100)

# Fahrenheit para Celsius

# Declração 
def converter_fahrenheit_para_celsius(fahrenheit):
  celsius= 5 * (fahrenheit - 32) / 9
  print(f'{fahrenheit} F = {celsius} C ')

# Execução
converter_fahrenheit_para_celsius(212)

100 C = 212.0 F
212 F = 100.0 C

In [ ]:
# Deixando o usuário escolher o que quer fazer 

usuario = input("Você quer converter para qual escala? ('C' para celsius ou 'F' para Fahrenheit)\n")

if escolha_usuario == "C":
  escala = "F"
elif escolha_usuario == "F":
  escala = "C"

temperatura = float(input(f'Digite o valor da temperatura em {escala}:'))

# print(escolha_usuario, type(escolha_usuario))
# print(temperatura, type(temperatura))

if escolha_usuario == "C":
  converter_fahrenheit_para_celsius(temperatura)

elif escolha_usuario == "F":
  converter_celsius_para_fahrenheit(temperatura)

Você quer converter para qual escala? ('C' para celsius ou 'F' para Fahrenheit)
C
Digite o valor da temperatura em F:212
212.0 F = 100.0 C

In [ ]:
def teste(a, b): # parâmetro, que será o argumento recebido
  print("teste foi chamado" , a, b)

teste(4, 10)

teste foi chamado 4 10

In [ ]:
# funções com retorno 

def soma(a, b):
  return a + b

print(5, type(5))
print(10, type(10))
print("soma(5, 10)", soma(5, 10), type(soma(5, 10)))

resultado_soma1 = soma(5, 10)
print("resultado_soma1", resultado_soma1, type(resultado_soma1))

resultado_soma2 = soma(10, 20)
print("resultado_soma2", resultado_soma2, type(resultado_soma2))

resultado_soma3 = soma(30, 40)
print("resultado_soma3", resultado_soma3, type(resultado_soma3))

resultado_final = soma(resultado_soma, resultado_soma2, resultado_soma3)

5 <class 'int'>
10 <class 'int'>
soma(5, 10) 15 <class 'int'>
resultado_soma1 15 <class 'int'>
resultado_soma2 30 <class 'int'>
resultado_soma3 70 <class 'int'>

In [ ]:
def calculadora(a, b):
  return a + b

def monitor(informacao):
  print(informacao)

def enviar_para_impressora(informacao):
  print("Print Page A4:", informacao)

def progama():
  resultado = calculadora(10, 20)
  monitor(resultado)

  enviar_para_impressora(resultado)

progama()

30
Print Page A4: 30

In [ ]:
# Lista
#                 Valores da lista
numeros = [5, 9, 10, 20 , 40, 80, 120, 300, 500, 900, 1000]
# índices [0, 1, 2, 3, 4, 5, 6, ...]

print(numeros, type(numeros))

print() 
primeiro_numero = numeros[0]

print("primeiro número:", primeiro_numero, type(primeiro_numero))

quantidade_numeros = len(numeros)

print("Quantidade de numeros na lista: ", quantidade_numeros)

ultimo_indice = quantidade_numeros - 1
ultimo_numero = numeros[ultimo_indice]

print("ultimo número: ", ultimo_numero, type(ultimo_numero))

[5, 9, 10, 20, 40, 80, 120, 300, 500, 900, 1000] <class 'list'>

primeiro número: 5 <class 'int'>
Quantidade de numeros na lista:  11
ultimo número:  1000 <class 'int'>

In [ ]:
# Abreviando a maneira de pegar o último número

numeros = [5, 9, 10, 20]
        # [0, 1, 2, 3] (índices)

ultimo_numero = numeros[len(numeros) - 1]

print("ultimo numero:", ultimo_numero, type(ultimo_numero))

# podemos também remover o len() e deixar apenas o '-1' que o python faz pra gene
ultimo_numero = numeros[-1]
print("Ultimo numero:", ultimo_numero)

ultimo numero: 20 <class 'int'>
Ultimo numero: 20

In [ ]:
# Mudando os valores de uma lista

numeros = [5, 9, 10, 20]

print("Primeira número:", numeros[0], numeros)
print("Último número:", numeros[-1], numeros)

numeros[0] = 90

print("Primeiro número alterado:", numeros[0], numeros)

numeros[-1] = 15

print("último número alterado:", numeros[-1], numeros)

Primeira número: 5 [5, 9, 10, 20]
Último número: 20 [5, 9, 10, 20]
Primeiro número alterado: 90 [90, 9, 10, 20]
último número alterado: 15 [90, 9, 10, 15]

In [ ]:
# Lista vazias

lista = []

print(lista, len(lista), type(lista))

[] 0 <class 'list'>

In [ ]:
numeros = [12]

print(numeros, len(numeros), type(numeros))

[12] 1 <class 'list'>

In [ ]:
# Adicionado elementos na lista

numeros = []

print(numeros, len(numeros), type(numeros))

numeros.append(10)
numeros.append(20)
numeros.append(30)
numeros.append(40)
numeros.append(50) # adicionando no final
numeros.insert(0, 700) # inserindo no inicio

print(numeros, len(numeros), type(numeros))

[] 0 <class 'list'>
[700, 10, 20, 30, 40, 50] 6 <class 'list'>

In [ ]:
# Ordenando uma lista

numeros = [9, 3, 4, 77, 1, 6, 5, 300, 20]

numeros.sort(reverse=True)

print(numeros)

numeros.sort(reverse=False)

print(numeros)

[300, 77, 20, 9, 6, 5, 4, 3, 1]
[1, 3, 4, 5, 6, 9, 20, 77, 300]

In [ ]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

numeros = [10, 20, 30, 40, 50]

for numero in numeros:
  print(numero)

10
20
30
40
50

In [ ]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

# for valor in lista:
#   Executo uma vez para cada valor.
#   Em cada execução, a variável 'valor' possui uma informação diferente
# Exemplo: muma lista com [4, 12, 6]
# Se tivermos: for valor in lista:
# temos na 'primeira execução do for a informação '4' para a variável 'valor'
# Temos na 'segunda'execução do for a informação '12' para variável 'valor'
# Temos na 'terceira execução do for a informação '6' para a variável 'valor'

numeros = [10, 20, 30 ,40 , 50]
numeros_em_dobro = []

for numero in numeros:
  
  numeros_em_dobro.append(numero * 2) # adicionando no final o número multiplicado por 2

  print("Execução do for para o número:", f"{numero} * 2 = {numero * 2}", numeros_em_dobro)

  print()

  print("lista final numeros", numeros)
  print("lista final", numeros_em_dobro)

Execução do for para o número: 10 * 2 = 20 [20]

lista final numeros [10, 20, 30, 40, 50]
lista final [20]
Execução do for para o número: 20 * 2 = 40 [20, 40]

lista final numeros [10, 20, 30, 40, 50]
lista final [20, 40]
Execução do for para o número: 30 * 2 = 60 [20, 40, 60]

lista final numeros [10, 20, 30, 40, 50]
lista final [20, 40, 60]
Execução do for para o número: 40 * 2 = 80 [20, 40, 60, 80]

lista final numeros [10, 20, 30, 40, 50]
lista final [20, 40, 60, 80]
Execução do for para o número: 50 * 2 = 100 [20, 40, 60, 80, 100]

lista final numeros [10, 20, 30, 40, 50]
lista final [20, 40, 60, 80, 100]

In [ ]:
# For indexado, em que temos acesso ao índice de cada valor

for indice in range(10):
  print(indice)

0
1
2
3
4
5
6
7
8
9

In [ ]:
numeros = [9, 4, 3, 7, 5]
# for indexado, em que temos acessa ao índice de cada valor

for indice in range(len(numeros)):
  numero = numeros[indice]
  print("Indice", indice, "temos o valor", numero)

  if indice == 2:
    break

Indice 0 temos o valor 9
Indice 1 temos o valor 4
Indice 2 temos o valor 3

In [ ]:
numeros = [7, 3, 9]
indice = 1
print(numeros[indice])

3

In [ ]:
# Introduzindo um pouco do enumerate

numeros = [9, 12, 4, 7, 3]

enum = enumerate(numeros)
lista = list(enum)

print(lista, type(lista))

[(0, 9), (1, 12), (2, 4), (3, 7), (4, 3)] <class 'list'>

In [ ]:
# Tuplas --> Parecem muito com as listas

tupla = (1, 5, 9, 7, 6)

print(tupla, type(tupla))

(1, 5, 9, 7, 6) <class 'tuple'>

In [ ]:
# Acessando elementos das tuplas

numeros = (9, 7, 6, 3, 4, 65)

primeiro_numero = numeros[0]

print(primeiro_numero, type(primeiro_numero))

9 <class 'int'>

In [ ]:
numeros = 5,7

print(numeros, type(numeros))

(5, 7) <class 'tuple'>

In [ ]:
numeros = 5,
print(numeros, type(numeros))

(5,) <class 'tuple'>

In [ ]:
tupla = ("Guilherme", "Colares")

print(tupla, type(tupla))

nome = tupla[0]
sobrenome = tupla[1]

print('Nome é:', nome, type(nome))
print('Sobrenome é:', sobrenome, type(nome))

('Guilherme', 'Colares') <class 'tuple'>
Nome é: Guilherme <class 'str'>
Sobrenome é: Colares <class 'str'>

In [ ]:
numeros = [30, 6, 1, 9, 6]

enum = enumerate(numeros)

lista = list(enum)

# Transformo o enum em lista apenas para exibí-la no print
print(lista, type(lista))

print(lista[0], type(lista[0]))

indice, valor = lista[0]

print(indice, valor, type(indice), type(valor))

[(0, 30), (1, 6), (2, 1), (3, 9), (4, 6)] <class 'list'>
(0, 30) <class 'tuple'>
0 30 <class 'int'> <class 'int'>

In [ ]:
numeros = [9, 6, 7, 9, 2, 4, 3]

for indice, valor in enumerate(numeros):
  print("Indice - Valor")
  print(indice, '-------', valor)

Indice - Valor
0 ------- 9
Indice - Valor
1 ------- 6
Indice - Valor
2 ------- 7
Indice - Valor
3 ------- 9
Indice - Valor
4 ------- 2
Indice - Valor
5 ------- 4
Indice - Valor
6 ------- 3

In [ ]:
tupla = (5, 6, 9, 7, 3)

print(tupla, type(tupla))


#Transforma qualquer coisa em lista (desde que seja um tipo suportado)
lista = list(tupla)

print(lista, type(lista))

lista[0] = 9

print(lista)

tupla = tuple(lista) # transformando para tupla

print(tupla)

(5, 6, 9, 7, 3) <class 'tuple'>
[5, 6, 9, 7, 3] <class 'list'>
[9, 6, 9, 7, 3]
(9, 6, 9, 7, 3)

In [ ]:
numeros = [9, 6, 7, 9, 2, 4, 3]

for indice, valor in enumerate(numeros):
  print(indice, valor)

0 9
1 6
2 7
3 9
4 2
5 4
6 3

In [ ]:
tupla = 5, 6, 7, 6, 1, 9, 5, 2, 7, 3, 6

# A função sum () adiciona os itens de um iterável e retorna a soma.
print(sum(tupla))

57

In [ ]:
"""
Como classificar uma lista string em ordem alfabética: 
"""

nomes = ['guilherme', 'julia', 'gabriel', 'samuel', 'anderson', 'felipe'] 

# nomes.sort()
# ou: 
nomes.sort(reverse=False)

print(nomes)

['anderson', 'felipe', 'gabriel', 'guilherme', 'julia', 'samuel']

In [ ]:
"""
Se quiser que ele incremente de 2 em 2
"""

numeros = [10, 9, 6, 4, 7, 6, 6, 4, 1, 3, 9]

for indice in range(0, len(numeros), 2):
  print(indice)

0
2
4
6
8
10

In [ ]:
"""
E uma lista que tivesse um input pro usuário colocar os valores?
"""

numeros = []

print("Digite 3 números...")

for indice in range(3):
  numero = int(input('Digite um número: '))
  numeros.append(numero)

print("Os números digitados foram:", numeros)

Digite 3 números...
Digite um número: 3
Digite um número: 5
Digite um número: 2
Os números digitados foram: [3, 5, 2]